html,
body,
ul,
ol{
  margin:  0;
  padding: 0;
}
body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
ul{
    li {
        list-style: none;
    }
}
.main {
    width: 100%;
    min-height: 400px;
    overflow: hidden
}
.main__container {
    display: flex;
    min-height: 90.5vh;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @include screen("small") {
        flex-direction: column;
    }
}

.sidebar, .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    // position: relative;
    width: 100%;
}
.star-active {
    color: #f2506d !important;
    font-weight: bold;
}
